# Ignore Python virtual environment
venv/

# Ignore large or raw data files
data/raw_bil/
*.zip
*.bil
*.bil.*
*.hdr

# Optional: ignore intermediate CSVs if not needed in repo
*.csv

# Python cache
__pycache__/
*.py[cod]

# VS Code workspace junk
.vscode/
*.code-workspace

# MacOS system files
.DS_Store

#test file created 
temp_prism/
